/* Overlay base */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow-y: auto;
  padding: 2rem;
  animation: fadeIn 0.4s ease;
}

/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.98); }
  to { opacity: 1; transform: scale(1); }
}

/* Content container */
.overlay-content {
  width: 100%;
  max-width: 1000px;
  position: relative;
  background: #0b132b;
  border-radius: 15px;
  padding: 2rem;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  display: block;
  position: fixed;
  border: 2px solid #0b69ff;
  border-radius: 100%;
  
}

.close-btn:hover {
  color: #fff;
}
#projectOverlay{
  color: white;
}

/* Inner sections */
.overlay-inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.overlay-section {
  background: rgba(255, 255, 255, 0.05);
  padding: 1.5rem;
  border-radius: 10px;
  transition: 0.3s;
}

.overlay-section:hover{
    color: white;
}

.icon-dis{
    font-size: 40px;
    padding: 20px;
    color: #0b69ff;

}
/* Responsive */
@media (max-width: 768px) {
  .overlay-content {
    padding: 1.2rem;
  }
  .overlay-section {
    font-size: 0.95rem;
  }
}
